.ParallaxVideo{ 
    height: 500px;
    padding-bottom: 50px;
    padding-top: 50px; 
}
.ParallaxVideo video{ 
    width: calc(100% - 3rem);
    position: fixed;
    top: 1.44rem;
    z-index: -999;
}
.productinfo{
    height:500px;
    background-color:#5A849C;
    font-size:36px;
}
.card{
    margin-top: 0px;
}